.drop_down {
  position: absolute;
  background-color: white;
  width: 110%;
  overflow-y: auto;
  opacity: 0;
  box-shadow: 11px 15px 15px rgba(0, 0, 0, 0.3);
  z-index: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  max-height: 0;
}

.drop_down::-webkit-scrollbar {
  width: 3px;
}

.drop_down::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
.drop_down::-webkit-scrollbar-thumb {
  background: #0066cc;
}

.drop_down > .drop_down__title {
  text-align: left;
  color: #808080;
  font-weight: 700;
  font-size: 17px;
  text-transform: capitalize;
  padding-top: 10px;
  position: sticky;
}
