.interact {
    display: table-caption;
}

.interact button {
    background-color: white !important;
    border: 1px solid #c8c5dd;
    border-radius: 10% 10% 0 0;
    border-bottom: none;
    cursor: pointer;
    outline: none;
}

.interact p {
    width: 27px;
    height: 25px;
    border: 1px solid #c8c5dd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
}