.page_design{
  background-image: linear-gradient( #dae6f2 0%,#dae6f2 75%, #83beea 100%);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 10rem;
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}
.page_design__header{
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid var(--color-dark-tertiary);
  
}
.page_design__header__left{

}
.page_design__header__left>h2{
  font-size: 4.5rem;
  font-weight: 800;
}


.page_design__header__right{}
.page_design__content{
  margin-top: 2rem;
  
}
