.project_list {
  overflow-x: auto;
  display: flex;
  align-items: flex-start;
  padding: 1rem 1rem 2rem 1rem;
  margin: 3rem 0 3rem 3rem;
  
}

.project_list::-webkit-scrollbar {
  width: 2rem;

}

/* .project_list::-webkit-scrollbar-track {
  border: 2px solid red;
} */
.project_list::-webkit-scrollbar-thumb {
  background-color: var(--color-dark-tertiary);
  border-radius: 5px;
}

.project_list .container_dragging{
  cursor: grab;
}
.project_list .container_dragging>*{
  /* visibility: hidden; */
  max-width: 20rem;
  max-height: 1.5rem;
  overflow: hidden;
  background-color: #e2e2e2 !important;
  box-shadow: 1px 1px .3rem rgba(0, 0, 0, .4) !important;
}
.project_list .container_dragging>* *{
  visibility: hidden;
}

/* .drag_drop .container_dragging>*{
  opacity: 0;
  cursor: grab;

} */

