.login {
  display: flex;
  height: 100vh;

}

.login__left {
  flex: .7;
  background-image:
    linear-gradient(to right bottom,
      rgba(205, 73, 60, .8),
      rgba(151, 124, 220, .8)), url('/login_image.png');
  background-size: cover;
  background-position: top;
  padding: 3rem;
  position: relative;
}

.login__right {
  flex: .3;
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.login__error{
 
  height: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.login__error>span{

  font-size: 1.7rem;
  font-weight: 600;
  color: var(--color-error);
 
}

@keyframes fade{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.login__form .login__field:last-child {
  margin-bottom: 5rem;
}


.login__field {
  position: relative;
}

.login__field>.MuiSvgIcon-root {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;

}

.login__field>.invalid {
  color: var(--color-error);

}

.login__field>.valid {
  color: var(--color-complete);
}



.login__field>label {

  display: block;
  text-transform: capitalize;
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.login__field>input {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-dark-tertiary);
  width: 100%;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-transform: lowercase;
}

.login__field>p {
  margin-bottom: 3rem;
  color: var(--color-error);
  font-size: 1.6rem;
  font-weight: 700;
  text-align: right;
  line-height: 1.5rem;
}

.login__field>p:empty {
  height: 1.5rem;
}


.login__submit {
  width: 100%;
  padding: 1rem;
  outline: none;
  background-color: var(--color-button);
  color: var(--color-light-primary);
  border: none;
  border-radius: .2rem;
  font-size: 1.7rem;
  cursor: pointer;
}

.login__spinner {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;

}