.login {
  display: flex;
  height: 100vh;

}

.login__left {
  flex: .7;
  background-image:
    linear-gradient(to right bottom,
      rgba(205, 73, 60, .8),
      rgba(151, 124, 220, .8)), url('/login_image.png');
  background-size: cover;
  background-position: top;
  padding: 30px;
  position: relative;
}

.login__right {
  flex: .3;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.login__form .login__field:last-child {
  margin-bottom: 50px;
}


.login__field {
  position: relative;
  ;
}

.login__field>.MuiSvgIcon-root {
  position: absolute;
  top: 0;
  right: 0;
  color: #EE5353;
}

.login__field>.invalid {
  color: #EE5353;

}

.login__field>.valid {
  color: #2ecc71
}



.login__field>label {

  display: block;
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 15px;
}

.login__field>input {
  outline: none;
  border: none;
  border-bottom: 1px solid #747474;
  width: 100%;
  margin-bottom: 10px;
  font-size: 20px;
}

.login__field>p {
  margin-bottom: 30px;
  color: #EE5353;
  font-size: 15px;
  font-weight: 700;
  text-align: right;
  line-height: 15px;
}

.login__field>p:empty {
  height: 15px;
}






.login__submit {
  width: 100%;
  padding: 10px;
  outline: none;
  background-color: #0066CC;
  color: white;
  border: none;
  font-size: 17px;
}

.login__spinner {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;

}