.time_off button {
    padding: 1rem 2rem;
    color: white;
    background-color: var(--color-button);
    border-radius: .5rem;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    outline: none;
}

.time_off__limit {
    font-size: large;
}
.time_off__limit>span {
    font-weight: bold;
}

.time_off_requests {
    margin-top: 3rem;
}