.view_time {
    display: flex;
    font-size: large;
    padding: 2rem 4rem;
    align-items: center;
    border-bottom: 1px solid rgb(235, 232, 232);
    cursor: pointer;
}

.view_time:hover {
    background-color: rgb(219, 217, 217);
}

.view_time__description {
    flex: 10;
    font-weight: 500;
}

.view_time__project_task {
    flex: 6;
    display: flex;
}

.view_time__from_to {
    flex: 6;
    font-size: small;
    letter-spacing: .1rem;
    color: rgb(165, 162, 162);
    display: flex;
    align-items: flex-end;
    font-weight: 400;
    font-family: Heebo;
}

.view_time__total {
    flex: 1;
    font-weight: 700;
}