.view_time {
    display: flex;
    font-size: large;
    align-items: center;
    border-bottom: 1px solid rgb(235, 232, 232);
    font-family: "Quicksand";
}

.view_time:hover {
    background-color: rgb(219, 217, 217);
}

.view_time__description {
    flex: 9;
    padding: 2rem 5rem;
}
.view_time__description>input{
  outline: none;
  border: 1px solid transparent;
  background-color: transparent;
  font-weight: 600;
  font-size: 1.6rem;
  width: 100%;
}
.view_time__description>input:focus{
  border: 1px solid var(--color-dark-primary);
  background-color: white;
}

.view_time__project_task {
    flex: 7;
    display: flex;
    position: relative;
    padding: 2rem 4rem;
}

.view_time__from_to {
    flex: 6;
    font-size: small;
    letter-spacing: .1rem;
    color: rgb(165, 162, 162);
    display: flex;
    align-items: flex-end;
    font-weight: 400;
    padding: 2rem 5rem;
    position: relative
}

.view_time__total {
    flex: 2;
    font-weight: 700;
    padding: 2rem 5rem;
}
.view_time__action{
  flex: 1;
  height: 3rem;
  margin-right: 1rem;
}

.view_time__action>button{
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  padding: .1rem;
  cursor: pointer;
}

.view_time__action>button>.MuiSvgIcon-root{
  color: var(--color-error);
  font-size: 2.5rem;
}


.view_time__modal_action{
  display: flex;
  justify-content: flex-end;
  margin-top: .5rem;
}
.view_time__modal_action>button{
  outline: none;
  border: none;
  padding: .5rem;
  font-size: 1.7rem;
  font-weight: 650;
  margin-left: .5rem;
  font-family: 'Quicksand';
  cursor: pointer;
  color: white;
  border-radius: .5rem;
  
}
.view_time__modal_action>button:nth-of-type(1){
  background-color: var(--color-error);
}
.view_time__modal_action>button:nth-of-type(2){
  background-color: var(--color-button);
}

.view_time__modal_content>p{
  font-weight: 550;
  margin-bottom: 1rem;
  min-width: 30rem;

}
.view_time__modal_content>div{
  padding: 0 .5rem;
}
.view_time__modal_content>div>span{
  display: inline-block;
  margin-top: 1rem;
}

.view_time_dd_time__tt_disable{
  cursor: inherit !important;
  color: #939393 !important;
}