.show_users {
    width: 100%;
    border-bottom: 1px solid #efeef3;
    padding-bottom: 5px;
}

.show_users__item {
    display: flex;
}

.show_users__name {
    font-size: large;
    margin-bottom: 1rem;
    width: 70%;
}

.show_users__name img {
    width: 3rem;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 1rem;
}

.show_users__tracked {
    width: 30%;
    font-size: large;
    margin-top: 10px;
    color: #2f0fbd;
    text-align: center;
}

.amount_tasks {
    margin: .5rem 0 .5rem 4.5rem;
    font-size: medium;
    color: darkgrey;
}

.list_tasks {
    font-size: large;
    display: flex;
    color: rgb(112, 108, 108);
    margin: 10px 0 20px 45px;
}

.list_tasks__name {
    width: 70%;
}