.report {
    padding: 5rem 10rem;
    font-family: 'Heebo', sans-serif;
    --line-height: 4.5rem;
    --font-size-primary: 4.5rem;
    --font-size-secondary: 1.8rem
  }

.report>h2 {
    font-size: 4.5rem;
    font-weight: 600;
    flex: 1;
}