.report {
    padding: 5rem 5rem;
    --line-height: 4.5rem;
    --font-size-primary: 4.5rem;
    --font-size-secondary: 1.8rem;
    overflow-x: hidden;
  }

.report_title {
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 4.5rem;
    font-weight: 600;
    flex: 1;
}

.report_user{
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.report_user_info{
    font-size: 5rem;
}

.report_chart_body{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 0.5rem;
}

.report_chart{
    flex: 0.3;
}

.report_body {
    flex: 0.7;
}

.report_user_avatarInfo>h2{
    padding-top: 3rem;
    font-size: 3rem;
    font-weight: bold;
}

.report_user_avatarInfo>p{
    font-size: 1.5rem;
    color: darkgray;
    padding-top: 0.5rem;
}

.report_user_hour{
    text-align: right;
}

.report_user_hour>h2{
    font-size: 3.5rem;
    font-weight: bold;
    padding-top: 2.5rem;
    color: var(--color-button)
}

.report_user_hour>p{
    font-size: 1.5rem;
    color: darkgray;
    padding-top: 0.25rem;
}