.select_calendar{
  position: relative;
}
.select_calendar>button{
  outline: none;
  border: none;
  background-color: #FCFCFE;
  padding: .5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px .5rem rgba(0, 0, 0, .5);
  cursor: pointer;
}
.select_calendar>button>.MuiSvgIcon-root{
  color: #898989;
  font-size: 2rem;
  
}