.tooltip_v2{
  position: absolute;
  
  z-index: 1;
  
  
}

.tooltip_v2__arrow{
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid red;
}
.tooltip_v2__content{
  background-color: white;
  box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-family: 'Quicksand', sans-serif;
}