.counter {
  font-size: 2.2rem;
  color: var(--color-dark-secondary);
  padding: .5rem;
  line-height: 6rem;
  text-transform: capitalize;
  min-width: 10rem;
  background-color: var(--color-light-primary);
}

.element {
  padding-right: 2px;
}