.discussion {
  /* box-shadow: var(--box-shadow-primary); */
  position: relative;
  margin-bottom: 2rem;
}


.discussion__header>* {
    flex-grow:1;
}

.discussion__content {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    max-height: 38rem;
}

.heaer_right__select_box {
  position: relative;
  font-family: Arial;
}

.select-item {
  background-color: darkgray;
}

.discussion__filter {
  display: flex;
}

.header_right__select_box>select {
  width: 15rem;
  height: 4rem;
  font-weight: 700;
  font-size: large;
}


.discussion__content::-webkit-scrollbar {
  width: 3px;
}

.discussion__content::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
.discussion__content::-webkit-scrollbar-thumb {
  background: #0066cc;
}





.discussion__footer {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    display: flex;
    margin-left: 2rem;
    margin-top: 1rem;
    
}

.discussion__filter__aler {
  color: red;
  font-size: large;
  font-weight: 600;
  align-self: center;
}


.discussion__footer input {
    width: 90%;
    font-family: 'Quicksand', sans-serif;
    border-radius: 2rem;
    outline: none;
    border: none;
    padding: 1rem 2rem;
    font-weight: 600;
    background-color: #F0F2F5;
    font-size: large;
    box-shadow: 2px 2px 1rem rgba(0, 0, 0, .6);
}