.profile {
  height: calc(100% - 60px);
  width: 100%;
  background: #fff;
  position: absolute;
  overflow: hidden;
  display: inline-block;
  

}

.profile_upper {
  height: 50%;
  background-color: #dad7d7;
}

.profile_lower {
  height: 50%;
  background-color: #dad7d7;
  padding: 20px;
  padding-top: 40px;
}

.profile_content {
  width: 1000px;
  height: 500px;
  border-radius: 1%;
  background-color: white;
  transform: translate(20rem, 3.5rem);
}

.user_content {
  background-color: white;
  height: 500px;
  width: 880px;
  transform: translate(120px, 0px);
}

.profile_left__image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  display:block;
  overflow:hidden;
  position:relative;
  transition: border .15s ease-in;
  transform: translate(-100px, 150px);
}

.profile_left__image:hover .overlay {
  height: 40px;
}


.profile_left__image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.profile_left__image, .overlay {
  position: absolute;
}

.overlay {
  width:100%;
  height: 0px;
  z-index:1;
  bottom:0;
  font-weight: bold;
  color:white;
  background-color: rgba(10, 175, 241, 0.781);
  transition: all 1s;
  padding-top: 0px;
  text-align: center;
  font-size: 1.5rem;
}
