.week_header {
    display: flex;
    align-items: flex-end;
    height: 7rem;
    background-color: white;
    justify-content: space-evenly;
    margin-bottom: 3rem;
    padding: 0 10rem;
    font-family: Heebo;
}

.week_header__total {
    flex: 1;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .15rem;
}

.week_header button {
    border: none;
    cursor: pointer;
    flex: 1;
    height: 5rem;
    outline: none;
    font-weight: 500;
    font-size: medium;
}

.week_header button:hover {
    background-color: #dee0e4;
}

.week_header_empty {
    flex: 1;
    background-color: white;
}

.week_header__total_time {
    margin-top: 0.5rem;
    font-size: medium;
    font-weight: 700;
}