.comment{
  margin-top: 1.5rem;
}
.comment__input{
  flex: 1;
}
.comment__input>input{
  width: 76%;
  padding: .7rem;
  padding-left: 2rem;
  font-size: 1.65rem;
  font-weight: 500;
  border-radius: 1rem;
  outline: none;
  border: none;
  box-shadow: 1px 1px .5rem rgba(0, 0, 0, .5);
}