.create_project {
  padding: 2rem 12rem;
  padding-bottom: 10rem;
  overflow-x: hidden;
}
.create_project__bottom{
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.create_project__spinner{
  width: 5rem;
  height: 5rem;
}

.create_project__button{
  display: flex;
  justify-content: flex-end;
}

.create_project__button>button{
  outline: none;
  padding: 1.2rem 2.5rem;
  font-size: 1.7rem;
  border-radius: 5px;
  cursor: pointer;
}

.create_project__button__create_new{
  color: var(--color-light-primary);
  border: none;
  
  background-color: var(--color-button);
  
}

.create_project__button__create_new:hover{
  background-color: #005ebd;
}
.create_project__button__create_new:disabled{
  background-color: #e2e2df;
}
.create_project__button__cancel{
  border: none;
  margin-right: 2rem;
  background-color: var(--color-light-primary);
  border: 1px solid var(--color-dark-tertiary);
  color: var(--color-dark-secondary);
}
.create_project__button__cancel:hover{
  background-color: var(--color-light-tertiary);
}

.create_project__modal_action{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.create_project__modal_action>button{
  outline: none;
  border: none;
  font-size: 1.8rem;
  font-weight: 600;
  padding: .7rem 1.5rem;
  margin-top: .5rem;
  cursor: pointer;
  margin-left: 2rem;
}
.create_project__modal_action>button:nth-of-type(1){
  background-color: var(--color-error);
}
.create_project__modal_action>button:nth-of-type(2){
  background-color: var(--color-button);
}
.create_project__modal_content{
  line-height: 2.2rem;
}

.create_project__modal_content>p:nth-of-type(1){
  font-weight: 500;
}
.create_project__modal_content>p:nth-of-type(2){
  font-weight: 600;
}