.skeleton {
  background-color: #fff;
  background-image: linear-gradient(to right, #FBFCFF 0%, #e0d8d8 15%, #FBFCFF 30%, #FBFCFF 100%);
  background-repeat: no-repeat;
  animation: skeletonToRight 1s infinite;
  background-color: #FBFCFF;
  display: flex;
  width: auto;
  flex: 1;
}

@keyframes skeletonToRight {
  from {
    background-position: -500px 0;
  }

  to {
    background-position: 1000px 0;
  }

}

.skeleton__item {
  flex: 1;
  height: 100px;
  background-color: rgb(202, 195, 195);
  margin: 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}