.skeleton {
  padding: 1rem;
  display: flex;
  width: auto;
  flex-direction: column;
  flex: 1;
}

.skeleton__loading {
  background-color: var(--color-light-primary);
  background-image: linear-gradient(
    to right,
    #fbfcff 0%,
    #e0d8d8 10%,
    #fbfcff 20%,
    #fbfcff 100%
  );
  background-repeat: no-repeat;
  animation: skeletonToRight 1s infinite;
}

@keyframes skeletonToRight {
  from {
    background-position: -50rem 0;
  }

  to {
    background-position: 100rem 0;
  }
}

.skeleton__item {
  flex-grow: 1;
  margin: 1rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
