.report_item{
    flex: 1;
    border-bottom: 2px solid lightgray;
    padding-bottom: 1.5rem;
}
.report_item__project{
    display: flex;
    justify-content: space-between;
}

.report_item__project_name{
    display: flex;
    flex-direction: row;
}

.report_item__project_name>h2{
    padding-left: 1rem;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 0.70rem;
}

.report_item__project_name>h3{
    font-size: 2rem;
    margin-top: 0.70rem;
    color: darkgray;
    padding-left: 0.5rem;
}

.report_item__project>p{
    font-weight: bold;
    color: var(--color-button);
    font-size: 2rem;
    margin-top: 0.70rem;
}

/* .toggle_item{
    padding-left: 4rem;
} */
