.week_select {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 5rem;
}

.week_select>button {
    background-color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid rgb(221, 219, 219);
    cursor: pointer;
    box-shadow: 2px 1px 2px rgb(232 226 226 / 50%);
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.week_select .MuiSvgIcon-root{

}

.week_select>button:hover {
    background-color: #f5f2f2 ;
}
.week_select>button:last-of-type{
  margin-right: 2rem;
}

.week_select>button.disable {
  background-color: var(--color-light-tertiary);
  cursor: inherit;
}

.week_select__name {
    padding: 0px 1rem;
    font-weight: 700;
    font-size: medium;
    text-align: center;
    width: 13rem;
}