.content {
    margin-left: 1rem;
    font-size: large;
    display: table-caption;
    padding-top: .3rem;
    width: 100%;
    font-weight: 600;
}

.content__text {
    display: flex;
    flex-wrap: wrap;
}

.content__text input {
  outline: none;
  width: 65vw;
  height: 2.5rem;
  font-weight: 600;
  font-size: large;
  border-radius: 1rem;
  padding: 0 1rem;
}

.content__attributes {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: .7rem;
}

.content__attributes p:nth-child(2) {
    font-size: 1.2rem;
    color: red;
}

.discussion__model_content {

}

.discussion__model_actions {
  display: flex;
  justify-content: space-between;
}

.discussion__model_actions>button:nth-child(1) {
  background-color: var(--color-error);
}

.discussion__model_actions>button:nth-child(2) {
  background-color: var(--color-button);
}

.content__attributes p:nth-child(3) {
    font-size: 1.2rem;
    color: darkgray;
    display: flex;
    align-items: center;
}

.content__actions {
  display: flex;
  align-items: center;
}

.content__button__comment {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
}

.content__button__comment>p {
  margin-left: .5rem;
  border-bottom: 1px solid red;
}

.content__button__edit{
  border-bottom: 1px solid red;
  cursor: pointer;
  font-size: 1.2rem;
}

.content__button__delete {
  margin-left: 1rem;
  border-bottom: 1px solid red;
  cursor: pointer;
  font-size: 1.2rem;
}

.content__button_actions {
  color: red;
  display: flex;
}