.tag_item {
  border-radius: 2.2rem;
  display: inline-block;
  overflow: hidden;
  transition: all 1s;
  margin-right: 0.3rem;
}

.tag_item__content {
  padding: .8rem 1.3rem;
  font-size: 1.8rem;
  text-transform: capitalize;
  background-color: var(--color-light-tertiary);
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag_item__content>button {
  border: none;
  outline: none;
  padding: 0;
  margin-left: .5rem;
}

.tag_item__content>button>.MuiSvgIcon-root {
  color: var(--color-dark-tertiary);
  vertical-align: middle;
}