.point {
  display: flex;
  padding-right: 10px;
  padding-top: 2px;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;

}

.point>p {
  color: inherit;
  font-size: 17px;
  font-weight: 400;
  white-space: nowrap;
  text-transform: capitalize;
}