.point {
  display: flex;
  padding-right: .7rem;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;

}

.point>.MuiSvgIcon-root {
  padding-right: 5px;
  /* height: fit-content;
  width: max-content; */
}

.point>p {
  color: inherit;
  font-size: 1.7rem;
  font-weight: 500;
  white-space: nowrap;
  text-transform: capitalize;
}