.point {
  display: flex;
  padding-right: 1rem;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;

}

.point>p {
  color: inherit;
  font-size: 1.7rem;
  font-weight: 500;
  white-space: nowrap;
  text-transform: capitalize;
}