.form {
  display: flex;
  box-shadow: 0 3px 4rem rgba(0, 0, 0, .15) !important;
  align-items: center;
  position: relative;
  justify-content: space-between;
  background-color: white;
}

.form__input {
  background-color: transparent;
}

.form__input {
  outline: none;
  padding: 5px;
  border: none;
  line-height: 60px;
  font-size: 18px;
  text-transform: capitalize;

}

.time__left {
  flex: .5;
  position: relative;
  max-width: 400px;
}

.time__left>.drop_down {
  padding-left: 40px;
  width: 80%;
}

.time__middle {
  flex: .3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: relative;
  max-width: 300px;
}



.form__input__task {
  flex: .5;
  padding-left: 10px;
}

.time__middle>.point {
  flex: .5;
}

.time__right {
  display: flex;
  padding-right: 40px;
}

.form__input__description {
  padding-left: 40px;
}



.form__input__description:focus+div {
  opacity: 1;
  height: 200px;
}

.form__input__task:focus+div {
  opacity: 1;
  height: 200px;

}

.form__input__task+div {
  left: 0;
  bottom: 0;
  transform: translate(0, 100%);
}

.form__input::placeholder {
  color: #C3C3C3;
  font-size: 18px;
  font-weight: 400;
}




.form__button {
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 50%;
  padding: 0;
}

.form__button>.MuiSvgIcon-root {

  font-size: 50px;

  border-radius: 50%;
  transition: all 1.5s;
}

@keyframes scale1 {
  0% {
    transform: scale(1.15);
    opacity: 0.3;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.form__button>.MuiSvgIcon-root:hover {
  animation: scale1 2s;
}


.form__icon__pause {
  color: white;
  background-color: #0066CC;
}

.form__icon__play {
  color: #0066CC;
}

.form__icon__save {
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.form__icon__save>.MuiSvgIcon-root {
  width: 30px;
  height: 30px;
  background-color: rgb(184, 149, 149);
  border-radius: 50%;
}

.form__icon__save:hover {
  animation: scale1 1s;
}

.drop_down__list_task {
  padding: 10px 0;
}

.drop_down__recent_task {
  padding: 10px 0;
}

.drop_down__list_task>.project__name {
  padding: 10px;
}

.drop_down__list_task>.project__task {
  padding-left: 30px;
}