.drop_down_2{
  position: absolute;
  overflow-y: auto;
  box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5);
  padding: .5rem;
  z-index: 1;
  background-color: white;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
}

.drop_down_2::-webkit-scrollbar {
  width: 3px;
}

.drop_down_2::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
.drop_down_2::-webkit-scrollbar-thumb {
  background: #0066cc;
}