.role_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.6rem;
  border-bottom: 1px solid var(--color-light-tertiary);
}

.role_item > input {
  display: none;
}

.role_item > label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.role_item > label > .MuiSvgIcon-root {
  font-size: 2rem;
  color: var(--color-button);
  margin-right: 0.3rem;
}

.role_item > input:checked + label > .checked {
  visibility: initial;
}

.role_item > input + label .checked {
  visibility: hidden;
}
