.total_time_by_week__hours {
    
    font-weight: 700;
    color: var(--color-button);
    font-size: 2rem;
    
}

.total_time_by_week__title {
    font-size: 1.8rem;
    font-weight: 550;
    padding-bottom: .5rem;
}

.total_time_by_week {
    text-align: center;
    padding: 2rem 0;
    /* padding: 1.8rem 3rem; */
}