.tab.animation {
  animation: scaleTab .5s;
}

@keyframes scaleTab {
  0% {
    transform: translateX(100%) scale(0);
    opacity: 0;
  }

  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}