.project_detail_team table {
    margin: 30px 0;
}

.project_detail_team thead th {
    font-size: large;
    text-align: left;
    padding-left: 10px;
    color: darkgray;
}

.project_detail_team thead th:nth-child(1) {
    width: 70%;
}

.project_detail_team thead th:nth-child(2) {
    width: 30%;
    text-align: center;
}