.task_item {
  display: flex;
  background-color: transparent;
  color: inherit;
  padding: .5rem 0;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
  user-select: none;
}



.task_item .MuiSvgIcon-root:last-child {
  color: var(--color-button);
  background-color: var(--color-light-primary);
  border-radius: 50%;
  font-size: 2.3rem;
  transition: all .7s;
  cursor: pointer;
}

.task_item>button {
  border: none;
  outline: none;
  background-color: transparent;

}



.task_item .MuiSvgIcon-root:last-child:hover {
  background-color: rgb(202, 187, 187);
  transform: scale(1.2);
  box-shadow: 5px 5px 1rem rgba(0, 0, 0, .5);
}


.task_item>h3 {
  color: inherit;
  font-size: 1.75rem;
  text-transform: capitalize;
  font-weight: 400;
}

.task_item>button {
  width: fit-content;
}