.table {
  --font-size-primary: 1.8rem;
  font-size: var(--font-size-primary);
  width: 100%;
  font-weight: 400;
}

.table tr {
  display: block;
  padding: 1rem 0;
}

.table__body>tr {
  border-bottom: 1px solid var(--color-dark-tertiary);
  transition: all .5s;
}

.table__body>tr:hover {
  background-color: #fafafa;
}

.visible_hover {
  opacity: 0;
  transition: all .3s;
}

.table th,
.table td {
  display: inline-block;
  vertical-align: middle;
}

.table__body {
  cursor: pointer;
}


.table__head>tr>th {
  color: var(--color-dark-tertiary);
  text-transform: capitalize;
}

.table__body>tr>td {
  color: var(--color-dark-primary);
  font-size: 1.9rem;
  font-weight: 650;
}

.table__body>tr:hover .visible_hover {
  opacity: 1;
}