.login {
  display: flex;
  height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
}

.login__left {
  flex: .7;
  background-image:
    linear-gradient(to right bottom,
      rgba(205, 73, 60, .8),
      rgba(151, 124, 220, .8)), url('/login.png');
  background-size: cover;
  background-position: top;
  padding: 30px;

}

.login__right {
  flex: .3;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.login__form .login__field:last-child {
  margin-bottom: 50px;
}


.login__field {}

.login__field>label {

  display: block;
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 15px;
}

.login__field>input {
  outline: none;
  border: none;
  border-bottom: 1px solid #747474;
  width: 100%;
  margin-bottom: 40px;
  font-size: 20px;
}




.login__submit {
  width: 100%;
  padding: 10px;
  outline: none;
  background-color: #0066CC;
  color: white;
  border: none;
  font-size: 17px;
}