.tooltip {
  position: absolute;
  background-color: red;
  z-index: 1;
  overflow-x: hidden;
  
}

.tooltip__arrow {
  position: absolute;
  left: 50%;
}

.tooltip__arrow__top {
  bottom: 0;
  transform: translate(-50%, 100%);
}

.tooltip__arrow__bottom {
  transform: translate(-50%, -100%);
}


.tooltip__content {
  padding: .5rem;
}