.sign_up {
  display: flex;
  height: 100vh;

}

.sign_up__left {
  flex: .7;

  background-image:

  linear-gradient(to left top,
      rgba(205, 73, 60, .8),
      rgba(151, 124, 220, .8)), url('/signup_image.png');

  background-size: cover;
  background-position: left;
  padding: 3rem;
  position: relative;
}

.sign_up__slide {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-light-primary);
}

.sign_up__slide>h2 {
  display: block;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.sign_up__slide>p {
  font-size: 2rem;
}

.sign_up__right {
  flex: .3;
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.sign_up__form .sign_up__field:last-child {
  margin-bottom: 5rem;
}


.sign_up__field {
  position: relative;
}

.sign_up__field>.MuiSvgIcon-root {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
}

.sign_up__field>.invalid {
  color: var(--color-error);

}

.sign_up__field>.valid {
  color: var(--color-complete)
}


.sign_up__field>label {

  display: block;
  text-transform: capitalize;
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.sign_up__field>input {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-dark-tertiary);
  width: 100%;
  margin-bottom: .8rem;
  font-size: 2rem;
}

.sign_up__field>p {
  margin-bottom: 3rem;
  color: var(--color-error);
  font-size: 1.5rem;
  font-weight: 700;
  text-align: right;
  line-height: 1.5rem;
}

.sign_up__field>p:empty {
  height: 1.5rem;
}




.sign_up__submit {
  width: 100%;
  padding: 1rem;
  outline: none;
  background-color: var(--color-button);
  color: var(--color-light-primary);
  border: none;
  font-size: 1.7rem;
  cursor: pointer;
}

.login__spinner {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.sign_up__error{
  
  height: 2rem;

  text-align: center;
  margin-bottom: 1rem;
}

.sign_up__error>span{

  font-size: 1.7rem;
  font-weight: 600;
  color: var(--color-error);
  
}
