.actions {
    display: flex;
    align-items: center;
}

.actions__message {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    cursor: pointer;
}

.actions__message p {
    margin-left: .5rem;
    border-bottom: 1px solid red;
}

.actions>p {
    color: red;
    border-bottom: 1px solid red;
    cursor: pointer;
}